<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.OrderTrackMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.entity.OrderTrack" >
    <result column="schedule_num" property="scheduleNum" jdbcType="VARCHAR" />
    <result column="plan_num" property="planNum" jdbcType="VARCHAR" />
    <result column="schedule_status" property="scheduleStatus" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="VARCHAR" />
    <result column="equment_num" property="equmentNum" jdbcType="VARCHAR" />
    <result column="hege_count" property="hegeCount" jdbcType="VARCHAR" />
    <result column="jiagong_vount" property="jiagongVount" jdbcType="VARCHAR" />
    <result column="by1" property="by1" jdbcType="VARCHAR" />
    <result column="by2" property="by2" jdbcType="VARCHAR" />
    <result column="by3" property="by3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
		schedule_num, plan_num, schedule_status, product_num, equment_num, hege_count, jiagong_vount
	</sql>
  <select id="selectAll"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from order_track
  </select>
  <update id="update" parameterType="com.neusoft.entity.OrderTrack">
		update order_track
		set hege_count = #{hege_count}, jiagong_vount=#{jiagong_vount}
		where schedule_num = #{schedule_num} and equment_num = #{equment_num}
	</update>
  <update id="updateByNum" parameterType="com.neusoft.entity.OrderTrack">
		update order_track
		set schedule_status = 30
		where schedule_num = #{schedule_num}
	</update>

  <insert id="insert" parameterType="com.neusoft.entity.OrderTrack" >
    insert into order_track (schedule_num, plan_num, schedule_status, 
      product_num, equment_num, hege_count, 
      jiagong_vount, by1, by2, 
      by3)
    values (#{scheduleNum,jdbcType=VARCHAR}, #{planNum,jdbcType=VARCHAR}, #{scheduleStatus,jdbcType=VARCHAR}, 
      #{productNum,jdbcType=VARCHAR}, #{equmentNum,jdbcType=VARCHAR}, #{hegeCount,jdbcType=VARCHAR}, 
      #{jiagongVount,jdbcType=VARCHAR}, #{by1,jdbcType=VARCHAR}, #{by2,jdbcType=VARCHAR}, 
      #{by3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.entity.OrderTrack" >
    insert into order_track
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleNum != null" >
        schedule_num,
      </if>
      <if test="planNum != null" >
        plan_num,
      </if>
      <if test="scheduleStatus != null" >
        schedule_status,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="equmentNum != null" >
        equment_num,
      </if>
      <if test="hegeCount != null" >
        hege_count,
      </if>
      <if test="jiagongVount != null" >
        jiagong_vount,
      </if>
      <if test="by1 != null" >
        by1,
      </if>
      <if test="by2 != null" >
        by2,
      </if>
      <if test="by3 != null" >
        by3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleNum != null" >
        #{scheduleNum,jdbcType=VARCHAR},
      </if>
      <if test="planNum != null" >
        #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="scheduleStatus != null" >
        #{scheduleStatus,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=VARCHAR},
      </if>
      <if test="equmentNum != null" >
        #{equmentNum,jdbcType=VARCHAR},
      </if>
      <if test="hegeCount != null" >
        #{hegeCount,jdbcType=VARCHAR},
      </if>
      <if test="jiagongVount != null" >
        #{jiagongVount,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        #{by3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>