<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.ProductOrderMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.entity.ProductOrder" >
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_userid" property="createUserid" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="VARCHAR" />
    <result column="product_count" property="productCount" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="by1" property="by1" jdbcType="VARCHAR" />
    <result column="by2" property="by2" jdbcType="VARCHAR" />
    <result column="by3" property="by3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
		create_time, create_userid, order_num, order_source, product_num, product_count, end_date, order_status
	</sql>
  <select id="queryForList" resultType="map">
    SELECT MONTH(end_date) AS month,count(*) AS sum FROM product_order GROUP BY MONTH(end_date)
    </select>
  <select id="pie" resultType="map">
    SELECT CASE WHEN order_status='10' THEN '未接单' WHEN order_status='20' THEN '已接单' WHEN order_status='30' THEN '已完成' WHEN order_status='40' THEN '生产中'
    WHEN order_status='50' THEN '已拒单'
 end AS Status,count(*)as sum FROM product_order GROUP BY order_status
    </select>
  <select id="selectAll"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product_order
  </select>
  <select id="selectByNumAndStatus"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product_order
    where
    order_num = #{order_num}
    and product_num = #{product_num}
  </select>
  <select id="selectByNumAndStatus2"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product_order
    where
    order_num = #{order_num}
    and order_status = #{order_status}
  </select>
  <select id="selectByNum"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from product_order
    where
    order_num = #{order_num}
  </select>
  <!--根据状态更新订单数据 -->
  <update id="updateByStatus" parameterType="com.neusoft.entity.ProductOrder">
		update product_order
		set order_status = 20
		where order_num = #{order_num}
	</update>
  <update id="updateByStatus2" parameterType="com.neusoft.entity.ProductOrder">
		update product_order
		set order_status = 50
		where order_num = #{order_num}
	</update>
  <update id="updateByStatus3" parameterType="com.neusoft.entity.ProductOrder">
		update product_order
		set order_status = 30
		where order_num = #{order_num}
	</update>
  <update id="updateByStatus4" parameterType="com.neusoft.entity.ProductOrder">
		update product_order
		set order_status = 40
		where order_num = #{order_num}
	</update>

  <insert id="insert" parameterType="com.neusoft.entity.ProductOrder" >
    insert into product_order (create_time, create_userid, order_num, 
      order_source, product_num, product_count, 
      end_date, order_status, by1, 
      by2, by3)
    values (#{createTime,jdbcType=DATE}, #{createUserid,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, 
      #{orderSource,jdbcType=VARCHAR}, #{productNum,jdbcType=VARCHAR}, #{productCount,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=DATE}, #{orderStatus,jdbcType=VARCHAR}, #{by1,jdbcType=VARCHAR}, 
      #{by2,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.entity.ProductOrder" >
    insert into product_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserid != null" >
        create_userid,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderSource != null" >
        order_source,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="productCount != null" >
        product_count,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="by1 != null" >
        by1,
      </if>
      <if test="by2 != null" >
        by2,
      </if>
      <if test="by3 != null" >
        by3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createUserid != null" >
        #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="by1 != null" >
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null" >
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null" >
        #{by3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>